<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css" rel="stylesheet">
  	#header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    text-align: center;
    height: 66px;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 3000;
	}
  	#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-size:12px;
    color: #b36a82;
  	font-family: italic;
    /*margin:0px -9px -9px -9px;*/
    margin-top: 10px;
	}
  #logo{
    height:56px;
    width:90px;
  }
  .fl{
    float:left;
    clear:left;
  }
  #logo_img{
    height:100%;
    width:100%;
  }
  .fr{
    float: right;
  }
  #heading{
  	padding-top: 10px;
  	color: #b36a82;
  	font-size: 29px;
  	font-family: italic;
  }
  .btn{
    border-radius: 15px;
    background: #b36a82;
    background: -moz-linear-gradient(top,  #ea8a02 ,#b36a82);
    background: -webkit-gradient(linear, left top, left bottom, from(#ea8a02), to(#b36a82));
    border: 1px solid #badff3 !important;
    font: bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow: rgba(0,0,0,0.2) 0 1px 0px;
    color: #fff;
    -moz-box-shadow: inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    -webkit-box-shadow: inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    box-shadow: inset rgba(255,255,255,0.6) 0 1px 1px, rgba(0,0,0,0.1) 0 1px 1px;
    margin-left: 12px;
    margin-top: 12px;
    float: right;
    padding: 7px 21px;
    cursor: pointer;
  }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
	<body>
		<div id=header>
    		<div id = "logo" class = "fl">
     			 <a href = "/home"><%= image_tag("logo.png", id:'logo_img' ) %></a>
    		</div>
  			<b id="heading"></b>
	   		 <div class="fr">
	       		 <% if !session[:username].present? %>
	         	 <a href="/login"><button class="btn">Login</button></a>
	        	  <a href="/sign_up"><button class="btn">Sign-up</button></a>
	       		 <% else %>
		          <a href="/logout"><button class="btn">Logout</button></a>
		          <a href="/listing"><button class="btn">Listing</button></a> 
		          <a href="/show"><button class="btn">Orders</button></a>
	       		 <% end %>
    		</div>
		</div>

		<%= yield %>

		<div id=footer>
			<p>© Copyright 2016. All Rights Reserved by Andolasoft.pvt.ltd..</p>
		</div>
	</body>
</html>
