 <table class="tb">
            <tr>
              <th>
                User_id
              </th>
              <th>
                Student_name
              </th>
              <th>
                Student_age
              </th>
              <th>
                Gender
              </th>
              <th>Details
              </th>
              <th colspan="2">
                Action
              </th>
            </tr>
            <% @students.each do |u| %>
              <tr>
                   <td>
                      <%= u.user_id %>
                   </td>  
                   <td>
                     <%= u.student_name %>
                   </td>
                   <td>
                     <%= u.student_age %>
                   </td>
                   <td>
                     <%= u.gender %>
                   </td>
                   <td>
                     <%= u.assign_id %>
                   </td>
                   <td><%= link_to 'Edit', "/edit/#{u.id}" %></td>
                   <td><%= link_to 'Delete', "/delete/#{u.id}" ,method: :delete ,data: { confirm: 'Are you sure?' } %></td>
                   <!-- 
                   <td><%= link_to 'Show', "javascript:void(0);", :onclick => "show_book_detail('#{u.id}')" , method: :get ,data: {toggle: "modal", target: "#show_data" } %>
                   </td> -->
              </tr>
            <% end %>
      </table>