<div class="blog">
		<div class="box1">
		<%= form_for @student, url: "/update/#{@student.id}" do |f| %>
			<table>
			      	<tr>
			      		<td>Student name:</td>
			      		<td><%= f.text_field :student_name, :required => true, :class => "field" %></td>
			     	 </tr>
			     	 <tr>
			      		<td>Student age:</td>
			      		<td><%= f.text_field :student_age, :required => true, :class => "field" %></td>
			      	</tr>
			      	<tr>
			      		<td>Gender: </td>
			      		<td><%= f.select :gender, "<option>male</option><option>Female</option>".html_safe %></td>
			     	</tr>
			     	<tr>
			      		<td>Assign_id: </td>
			      		<td><%= f.text_field :assign_id, :required => true, :class => "field" %></td>
			     	</tr>
			     	 <tr>
			      		<td><%= f.submit 'Update', class:"btn" %></td>
			    		<td><a href="/add_student"><%= button_tag 'cancel', class:"btn" %>
			      	</tr>
			 </table>
		<% end %>
	</div>
</div>