<!DOCTYPE html>
<html>
<head>
	<title>order details</title>
	<style>
      .list {
        /*width: 360px;*/
        padding: 8% 0 0;
        margin: auto;
        min-height: 500px;
      }
      .tb {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      }
      /*table{
        border-collapse: collapse;
      }*/
      table, th,td{
        border: 1px solid #76b852;
        padding: 12px;
      }
     body { 
          background-image: url(assets/city_night.jpg); 
          /*-webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;*/
          background-size:100%;      
        }
        .panel-default {
          opacity: 0.8;
          margin-top:30px;
          z-index: 99999;
          padding-top: 50px;
          text-align: center;
          height: 650px;
        }
      table{margin-top: 100px}
      </style>
      <script type="text/javascript">
         $("#heading").html("Listing page ...");
       </script>
</head>
<body>
	<div class="panel-default">
            <div class="list">
	             <table class="tb">
	             	  <tr>
                 		 <th>
                  			  User_id
                 		 </th>
		                  <th>
		                    Order_name
		                  </th>
		                  <th>
		                    Name
		                  </th>
		                  </th>
				             <th colspan="2" style="text-align:center">Action
				           </th>
                <% @orders.each do |u| %>
                  <tr>
                       <td>
                          <%=u.user_id%>
                       </td>  
                       <td>
                         <%=u.order_name%>
                       </td>
                       <td><%=u.user.name%></td>
                       <td><%= link_to 'Edit', "/edit/#{u.id}" %></td>
                       <td><%= link_to 'Delete', "/delete/#{u.id}" ,method: :destroy ,data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
	             </table>
            </div>
    </div>
</body>
</html>