
    <div class="container">
       <table>
            <tr>
              <th>
                Name
              </th>
              <th>
                Title
              </th>
              <th>
                Author
              </th>
              <th>
                Privecy
              </th>
              <th colspan="2" style="text-align:center">Action
              </th>
            </tr>
            <% @books.each do |u| %>
              <tr>
                   <td>
                      <%=u.name%>
                   </td>  
                   <td>
                     <%=u.title%>
                   </td>
                   <td>
                     <%=u.auther%>
                   </td>
                   <td>
                     <%=u.privecy%>
                   </td>
                   <td><%= link_to 'Edit', "/edit/#{u.id}", data: { remote: true, toggle: "modal", target: "#myModal" } %></td>

                   <td><%= link_to 'Delete', "/delete/#{u.id}"  ,method: :delete ,data: { confirm: 'Are you sure?',remote: true}  %>
                   </td>
                   <td><%= link_to 'Show', "javascript:void(0);", :onclick => "show_book_detail('#{u.id}')" , method: :get ,data: {toggle: "modal", target: "#show_data" } %>
                   </td>
              </tr>
            <% end %>
      </table>

        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit page</h4>
              </div>
              <div class="modal-body" id = "edit_content">
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
        <div class="modal fade" id="show_data" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Details page</h4>
              </div>
              <div class="modal-body" id = "show_content">
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
  </div>
  <%= will_paginate @books %>
  <script type="text/javascript">
  function show_book_detail(b_id){
      $("#show_content").html("<div class='loader'></div>");
      $(".loader").css("display","block");
    var url = "/show/"+b_id;
    $.ajax({url: url, success: function(result){
            $("#show_content").html(result);
      }});
  }
</script>
