
<table class="tb1">
	<tr>
		<td><%= link_to 'Add student', '/add_student' %></td>
		<td><%= link_to 'Assign class and subject', '/assign' %></td>

		<td><%= link_to 'Add teacher','/add_teacher' %></td>
		<td><%= link_to 'Add class', '/add_standard' %></td>
		<td><%= link_to 'Add subject','/add_subject' %></td>
	</tr>
</table>