<div class="blog">
	<div class="box1">
		<%= form_for @user, url: "/create" do |f| %>
				<% if @user.errors.any? %>
					<div id="error_explanation">
					<p><%= pluralize(@user.errors.count, "error") %> prohibited this is user from being saved: </p>
					 <ul class="red">
					    <% @user.errors.full_messages.each do |msg| %>
					      <li><%= msg %></li>
					    <% end %>
					 </ul>
					</div>
				<% end %>
			<table>
			    <tr><td class="t">Name : </td><td><%= f.text_field :name, :required => true, :class => "field"%></td></tr>
			    <tr><td class="t">Email : </td><td><%= f.text_field :email , :required => true, :class => "field"%></td></tr>
			    <tr><td class="t">Username : </td><td><%= f.text_field :username , :required => true, :class => "field"%></td></tr>
			    <tr><td class="t">Password : </td><td><%= f.password_field :password , :required => true, :class => "field"%></td></tr>
			    <tr><td class="t">Confirm_Password : </td><td><%= f.password_field :confirm_password , :required => true, :class => "field"%></td></tr>
			    <tr><td class="t">Phone_no : </td><td><%= f.text_field :phone_no , :required => true, :class => "field"%></td></tr>
			    <tr><td class="t">Address : </td><td><%= f.text_field :address , :required => true, :class => "field"%></td></tr>
			    <tr>
			    	<td  style="text-align:center"><%= f.submit 'submit', class:"btn" , :required => true%></td>
			    	<td style="text-align:center"><a href="/login"><%= button_tag 'cancel', class:"btn2", :required => true %></a></td>
			    </tr>
			</table>
		<% end %>
	</div>
</div>